.footer {
  color: var(--footer-text-color);
  background-color: var(--footer-bg-color);
  display: flex;
  align-items: center;


  &__body {
    max-width: 1180px;
    margin: 0 auto;
    padding: var(--vertical-padding) var(--section-padding);
    display: flex;
    align-items: center;
  }

  &__heading {
    font-size: var(--text-size-large);
    max-width: 600px;
    line-height: var(--text-line-height);
    letter-spacing: var(--text-letter-spacing);
  }

  &__image {
    width: 100px;
    height: 100px;
    margin: 0 80px;
  }

  .underline {
    position: relative;
    display: inline-block;
    color: var(--footer-highlight-color);

    &:after {
      content: '';
      width: 0%;
      height: 4px;
      display: block;
      background-color: var(--footer-highlight-color);
      transition: width 350ms ease-in-out;
    }

    &:hover:after {
      width: 100%;
      transition: width 350ms ease-in-out;
    }
  }
}
