.landing {
  padding: var(--vertical-padding) var(--section-padding);
  position: relative;
  
  &__heading {
    font-size: 26px;
    font-weight: var(--text-font-weight);
    margin: calc(25vh - var(--section-padding)) 0 50px;
    line-height: var(--text-line-height);
    letter-spacing: var(--text-letter-spacing);
  }

  &__subheading {
    font-size: var(--text-size-large);
    line-height: var(--text-line-height);
    margin-top: var(--vertical-padding);
    letter-spacing: 1.5px;
    max-width: 700px;
  }
}

.social {
  padding: 0;
  margin: var(--vertical-padding) 0 0;
  list-style: none;
  max-width: 600px;
}

.social__link {
  font-weight: var(--text-font-weight);
  font-size: 16px;
  letter-spacing: 2px;

  display: inline-flex;
  min-height: 60px;
  max-width: 200px;
  width: 100%;
  user-select: none;
  
  a {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  a:hover {
    color: var(--icon-hover-color);
  }

  a:hover .icon {
    fill: var(--icon-hover-color);
  }

  .icon {
    fill: var(--icon-color);
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
