.landing {
  padding: var(--vertical-padding) var(--section-padding);
  position: relative;
  min-height: 100vh;

  &__heading {
    font-size: var(--text-size-med);
    font-weight: var(--text-font-weight);
    margin: calc(32vh - var(--section-padding)) 0 0;
    line-height: var(--text-line-height);
    letter-spacing: 2px;
    font-family: var(--sans-serif);
    font-weight: 400;
  }

  &__subheading {
    font-size: var(--text-size-large);
    line-height: var(--text-line-height);
    margin: 0;
    letter-spacing: var(--text-letter-spacing-large);
    max-width: 680px;
  }

  &__body {
    padding: var(--vertical-padding) 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .lodash {
    font-family: var(--sans-serif);
  }

  .blink {
    opacity: 0;
    animation-delay: 3.2s;
  }
}

.social {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 600px;
}

.social__link {
  font-family: 'GT Pressura', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;

  display: inline-flex;
  min-height: 50px;
  max-width: 250px;
  width: 100%;
  user-select: none;
  position: relative;

  a {
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      width: 0%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 24px;
      display: block;
      background-color: var(--text-color);
      transition: width 250ms ease-in-out;
    }

    &:hover:after {
      width: 100%;
      transition: width 200ms ease-in-out;
    }
  }
}

//animation
.landing {
  &__heading {
    opacity: 0;
    animation: fade-in 2s forwards ease-in-out;
    animation-delay: 1.4s;
  }

  &__subheading {
    opacity: 0;
    animation: fade-in 1.8s forwards ease-in-out;
    animation-delay: 1.6s;
  }
}

.social {
  opacity: 0;
  animation: fade-in 1.6s forwards ease-in-out;
  animation-delay: 1.8s;
}
