.resume {
  padding: var(--vertical-padding) var(--section-padding);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__column {
    flex: 1 0 270px;

    &:first-child {
      margin-right: var(--section-padding);
    }
  }

  &__heading {
    font-family: "GT Pressura Mono", "Lucida Console", Monaco, monospace;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
  }

  &__jobs {
    list-style: none;
    padding: 0;
    margin-top: var(--vertical-padding);
    font-size: var(--text-size-med);
    font-weight: 400;
    line-height: var(--text-line-height);
    letter-spacing: var(--text-letter-spacing);
  }

  &__job {
    margin-bottom: 50px;

    ul {
      list-style: hiragana-iroha;
    }
  }

  &__job-heading {
    display: flex;
    justify-content: space-between;
    font-size: inherit;
    font-weight: inherit;
  }

  &__job-heading .text-highlight {
    font-weight: 400;
  }
}
