.resume {
  padding: var(--vertical-padding) var(--section-padding);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__column {
    flex: 1;

    &:first-child {
      margin-right: var(--section-padding);
    }

    &:last-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__link {
    text-align: right;
    font-weight: 600;
    font-size: var(--text-size-large);

    .text-underline:after {
      height: 4px;
    }
  }

  &__heading {
    font-family: 'GT Pressura Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
  }

  &__jobs {
    list-style: none;
    padding: 0;
    margin-top: var(--vertical-padding);
    font-size: var(--text-size-med);
    font-weight: 400;
    line-height: var(--text-line-height);
    letter-spacing: var(--text-letter-spacing);
  }

  &__job {
    margin-bottom: 50px;
  }

  &__job-heading {
    display: flex;
    justify-content: space-between;
    font-size: inherit;
    font-weight: inherit;
  }

  &__job-heading .text-highlight {
    font-weight: 400;

    .theme-inverted & {
      color: #222;
      font-weight: 600;
    }
  }
}

.text-underline {
  display: inline-block;

  &:after {
    content: '';
    width: 0%;
    height: 1px;
    display: block;
    background-color: var(--text-color);
    transition: width 250ms ease-in-out;
  }

  &:hover:after {
    width: 100%;
    transition: width 200ms ease-in-out;
  }
}
