.stack {
  padding: var(--vertical-padding) var(--section-padding);

  &list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin-top: var(--vertical-padding);
  }

  &list .icon {
    width: 85px;
    height: 85px;
    margin-bottom: 25px;
  }

  &list li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px;
    letter-spacing: 1.5px;
  }

  &__heading {
    font-family: "GT Pressura Mono", monospace;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }
}
