.theme-switch {
  position: fixed;
  top: var(--section-padding);
  right: var(--section-padding);
  cursor: pointer;
  z-index: 9;
}

.theme-switch__icon {
  width: 18px;
  height: 18px;
}

.theme-switch__outline {
  stroke: var(--icon-color);
  stroke-width: 10px;
}

.theme-switch__left-half {
  fill: var(--body-bg-color);
}

.theme-switch__right-half {
  fill: var(--icon-color);;
}

.theme-inverted .theme-switch__outline {
  stroke: var(--icon-color);
  stroke-width: 6px;
}

.theme-inverted .theme-switch__left-half {
  fill: var(--body-bg-color);
}

.theme-inverted .theme-switch__right-half {
  fill: var(--icon-color);
}
