.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  color: var(--footer-text-color);
  background-color: var(--footer-bg-color);
  min-height: var(--footer-height);


  &__body {
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--section-padding);
  }

  &__heading {
    font-size: 45px;
    max-width: 500px;
    line-height: var(--text-line-height);
    letter-spacing: var(--text-letter-spacing);
  }
}