.resume {
  padding: var(--section-padding);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.resume__heading {
  font-family: "GT Pressura Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.resume__jobs {
  list-style: none;
  padding: 0;

  margin-top: 80px;

  font-size: 22px;
  font-weight: 400;
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
}

.resume__job {
  margin-bottom: 50px;
}

.resume__job-heading {
  display: flex;
  justify-content: space-between;
  font-size: inherit;
  font-weight: inherit;
}

.resume__job-heading .text-highlight {
  font-weight: 400;
}
