.stack {
  padding: var(--section-padding);
}

.stacklist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-top: 100px;
}

.stacklist li {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px;
  letter-spacing: 1.5px;
}

.stack__heading {
  font-family: "GT Pressura Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.stacklist .icon {
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
}
