*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-color: var(--footer-bg-color);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--text-color);
  font-family: var(--typography);
  text-rendering: optimizeLegibility;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--text-accent);
  color: #FFFFFF;
}

.theme-bg-dark,
.theme-bg-light {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.theme-bg-light {
  background-color: var(--theme-bg-light);
  z-index: -2;
}

.theme-bg-dark {
  background-color: var(--theme-bg-dark);
  opacity: 1;
  transition: opacity 500ms ease-in-out;

  .theme-inverted & {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
}

.inner-wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.section-divider {
  font-family: 'Freight', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  letter-spacing: .6em;
  border: none;
  margin: 0;

  &:last-child {
    font-weight: 600;
  }

  &:before {
    content: '...';
    display: block;
    margin: auto;
    width: 57px;
    height: 0;
    line-height: 0;
  }
}
