*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-color: var(--footer-bg-color);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--text-color);
  font-family: "GT Pressura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--text-accent);
  color: #FFFFFF;
}

.outer-wrapper {
  background-color: var(--body-bg-color);
  margin-bottom: var(--footer-height);
  transition: background-color 150ms ease-in-out;
}

.inner-wrapper {
  max-width: 1180px;
  margin: 0 auto;
}