@media screen and (max-width: 900px) {
  :root {
    --section-padding: 50px;
    --text-size-large: 36px;
    --text-size-med: 22px;
    --vertical-padding: 70px;
    --footer-height: 500px;
    --ui-offset: 50px;
  }

  .social__link {
    max-width: calc(50% - 5px);
  }

  .values .icon {
    width: 45px;
    height: 45px;
    top: 10px;
  }

  .stacklist {
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 15%;
      margin: 35px;
    }

    .icon {
      width: 70px;
      height: 70px;
    }
  }

  .footer {
    &__body {
      flex-direction: column;
      text-align: center;
    }

    &__image {
      margin-top: var(--section-padding);
    }
  }
}

@media screen and (max-width: 500px) {
  :root {
    --section-padding: 25px;
    --text-size-large: 26px;
    --text-size-med: 19px;
    --vertical-padding: 50px;
    --ui-offset: 25px;
  }

  .outer-wrapper {
    margin-bottom: 0;
  }

  .ui-frame {
    .icon {
      padding: var(--section-padding);
      width: auto;
      height: auto;
      max-width: 70px;
      max-height: 70px;
    }

    .icon:hover .icon__description {
      opacity: 0;
      transform: none;
      transition: none;
    }

    .icon-theme-switch svg {
      width: 17px;
      height: 17px;
    }
  }

  .social__link {
    max-width: calc(50% - 5px);
  }

  .resume__column:first-child {
    margin: 35px 0;
  }

  .values .icon {
    width: 35px;
    height: 35px;
    top: 10px;
  }

  .stacklist {
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 10%;
      margin: 30px;
    }

    .icon {
      width: 40px;
      height: 40px;
    }
  }

  .footer {
    position: relative;
    min-height: auto;
    text-align: center;

    &__image {
      margin-top: var(--section-padding);
      width: 90px;
      height: 90px;
    }

    &__body {
      flex-direction: column;
    }

    .underline {
      box-shadow: inset 0 -3px 0 0 var(--footer-text-color);
    }
  }
}
