:root {
  --text-size-large: 40px;
  --text-size-med: 24px;
  --text-line-height: 1.5;
  --text-letter-spacing: 2px;
  --footer-height: 375px;
  --section-padding: 100px;
  --vertical-padding: 80px;
  --ui-offset: 50px;
}

:root {
  --body-bg-color: #1A1A1A;
  --accent-color: #06ED86;
  --text-color: #FFFFFF;
  --text-highlight-color: #06ED86;
  --text-accent: #06ED86;
  --text-font-weight: 100;
  --icon-color: #FFFFFF;
  --icon-hover-color: #06ED86;
  --footer-bg-color: #F9F9F9;
  --footer-text-color: #1A1A1A;
}

.theme-inverted {
  --accent-color: #06ED86;
  --body-bg-color: #F2F2F2;
  --text-color: #333;
  --text-highlight-color: #06ED86;
  --text-accent: #06ED86;
  --text-font-weight: 400;
  --icon-color: #333;
  --icon-hover-color: #06ED86;
  --footer-bg-color: #06ED86;
  --footer-text-color: #FFFFFF;
}
