.landing {
  padding: var(--section-padding);
}

.landing {
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.landing__heading {
  font-size: 26px;
  font-weight: var(--text-font-weight);
  margin: 50px 0;
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
}

.landing__subheading {
  font-size: 40px;
  line-height: var(--text-line-height);
  letter-spacing: 1.5px;
  max-width: 700px;
}

.social {
  padding: 0;
  margin-top: 70px;
  list-style: none;
  max-width: 600px;
}

.social__link {
  font-weight: var(--text-font-weight);
  font-size: 16px;
  letter-spacing: 2px;

  display: inline-block;
  min-height: 70px;
  max-width: 200px;
  width: 100%;
  user-select: none;
}

.social__link a {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.social__link .icon {
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.social__link a:hover {
  color: var(--icon-hover-color);
}

.social__link a:hover .icon {
  fill: var(--icon-hover-color);
}
