.values {
  padding: var(--section-padding);
  text-align: center;
}

.values__heading {
  font-family: "GT Pressura Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.values__paragraph {
  font-size: 45px;
  font-weight: 600;
  max-width: 880px;
  margin: 100px auto;
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
}

.values .icon {
  width: 55px;
  height: 55px;
}
