*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --accent-color: #06ED86;

  --text-color: #FFFFFF;
  --text-highlight-color: #06ED86;
  --text-accent: #06ED86;
  --text-line-height: 1.5;
  --text-letter-spacing: 2px;

  --footer-bg-color: #06ED86;
  --footer-height: 500px;

  --section-padding: 100px;
}






html {
  background-color: #000;
  font-family: "GT Pressura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--text-color);
}






body {
  margin: 0;
  padding: 0;
  margin-bottom: var(--footer-height);
  background-color: #000;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}








.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}





.landing {
  padding: var(--section-padding);
}

.landing {
  min-height: 100vh;
}

.landing__heading {
  font-size: 36px;
  font-weight: 100;
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
}

.landing__subheading {
  font-size: 55px;
  line-height: var(--text-line-height);
  letter-spacing: 1.5px;
  max-width: 880px;
}






.social {
  padding: 0;
  margin-top: 100px;
  list-style: none;
  max-width: 800px;
}

.social__link {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1px;

  display: inline-block;
  min-height: 80px;
  max-width: 300px;
  width: 100%;
  user-select: none;
}

.social__link a {
  display: inline-flex;
  align-items: center;
}

.social__link .icon {
  fill: #FFFFFF;
  width: 32px;
  height: 32px;
  margin-right: 35px;
}

.social__link a:hover {
  color: var(--text-accent);
}

.social__link a:hover .icon {
  fill: var(--text-accent);
}

::selection {
  background-color: var(--text-accent);
}





.values {
  padding: calc(var(--section-padding) * 2) var(--section-padding);
  text-align: center;
}

.values__heading {
  font-family: "GT Pressura Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.values__paragraph {
  font-size: 55px;
  font-weight: 600;
  max-width: 900px;
  margin: 100px auto;
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
}

.values .icon {
  width: 55px;
  height: 55px;
}

.align-baseline {
  position: relative;
  bottom: -13px;
}

.icon--nodejs {
  fill: var(--accent-color);
}

.text-highlight {
  color: var(--text-highlight-color);
}




.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: var(--footer-bg-color);
  min-height: var(--footer-height);
}

.footer__body {
  max-width: 1440px;
  margin: 0 auto;
  padding: var(--section-padding);
}

.footer__heading {
  font-size: 55px;
  max-width: 500px;
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
}





@media (max-width: 767px) {
  :root {
    --section-padding: 50px;
  }
}

@media (max-width: 400px) {
  :root {
    --section-padding: 20px;
  }
}